<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- World File -->
  <arg name="world_file" default="$(find my_robot)/worlds/Georgia_studio.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <include file="$(find my_robot)/launch/robot_description.launch">
    <arg name="x" value= "-1.5"/>
    <arg name="y" value="0" />
    <arg name="z" value="0" />
    <arg name="roll" value="0" />
    <arg name="pitch" value="0" />
    <arg name="yaw" value="0" />  
  </include>

<node name="rviz" pkg="rviz" type="rviz" respawn="false" />

</launch>

